

.Topo{
    background-color: red;
    padding: 15px;
    padding-left: 400px;
    border: solid black;
}


.Dados{
    padding-left: 400px;
}
.adcProdut{
    background-color: gray;
    padding: 20px;
    padding-left: 450px;
}





















.Rodape {
    background-color: red;
    padding-bottom: 6px;
    margin-top: 300px;
}