

*{
    margin:0;
    padding:0;

}

.video{
    height: 450px;
    width: 450px;
    display: flex; 
     margin-left: 340px;
     
}

header{
    background-color:salmon;
    
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 0 10px;
    border-radius: 70px;
}

#busca{
    margin-right: 50px;
}

body{
    background-color: rgb(64, 128, 153);
    
}

h2{
    text-align: center;
    margin-top: 20px;
   
}

footer{

    
    height: 45px;
    text-align: center;
    background-color: salmon;
    margin-top: 45px;
}

#texto-rodape{
    margin-top: 10px;
}